/* SplashScreen.css */



.splash-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  z-index: 1;
  background-size: cover;
  font-family: "Arial", sans-serif;
  color: #000;
  text-align: center;
}


#dash-stats {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 550px;
  top: 20px;
  position: absolute;
}

#dash-stats div {
  margin-inline-end: 2px;
}

.stats-icons {
  flex-basis: 72px;
  image-rendering: pixelated;
  flex-direction: row;
}

#stats-score,
.stats-icons {
  display: flex;
  justify-content: center;
  height: 22px;
  flex-basis: 300px;
}

.stats-icons div {
  width: 22px;
  height: 22px;
  margin-inline-end: 2px;
  background-size: 1920px 512px;
}

.stats-icons .full {
  margin-left: 20px;
}

.life-full {
  background-position: -1px -1px;
  background-image: url(../images/objects.png);
}

.life-empty {
  background-position: -1px -25px;
  background-image: url(../images/objects.png);
}

.energy-full {
  background-position: -25px 0px;
  background-image: url(../images/objects.png);

}

.energy-empty {
  background-position: -25px -25px;
  background-image: url(../images/objects.png);
}



.distance-display {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 22px;
  position: absolute;
  top: 0px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 18px;
  font-weight: bold;
  color: #000;
  padding: 5px 10px;
  border-radius: 5px;
  z-index: 10;

}


.icon-container {
  margin-right: 8px;
  /* Space between the icon and the text */
}

.distance-text {
  font-size: 16px;
  /* Adjust as needed */
}

h1 {
  font-size: 3rem;
  margin-bottom: 0.5rem;
}

p {
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

.titles {
  position: absolute;
  top: 0;
  font-family: 'SegoeTVBold', sans-serif;
  margin-top: calc(15vh - 30px);
}

.tit1 {
  line-height: 48px;
  font-size: 46px;

}

.tit2 {
  margin-top: 10px;
  line-height: 24px;
  font-size: 24px;
}

.tit1,
.tit2 {
  text-align: center;
  font-weight: bolder;
  text-transform: uppercase;
}


.character-selection {
  display: flex;
  align-items: center;
  z-index: 1;

  margin-bottom: 2rem;
}

.arrow {
  background: none;
  color: #000;
  font-size: 2rem;
  cursor: pointer;
  padding: 0.5rem 1rem;
  border-radius: 5px;
}

.arrow:hover {
  background: rgba(255, 255, 255, 0.2);
}

.surfer-avatar {
  width: 100px;
  height: 100px;
  margin: 0 1rem;
  z-index: 1;

}

.start-txt {
  color: #000;
  padding: 1rem 2rem;
  z-index: 1;

  border-radius: 10px;
  cursor: default;
  display: inline-block;
  vertical-align: middle;
  font-size: 23px;
  font-family: 'SegoeTVRegular', sans-serif;
}

.st-btn {
  padding: 5px 12px 5px;
  border: 2px solid #000000;
  border-radius: 4px;
  z-index: 1;

  font-size: 1.2rem;
  font-weight: bold;
  margin: 0px 5px;
  text-transform: uppercase;
}