/* SplashScreen.css */

.splash-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: url("../images/oceanbg.jpg") no-repeat center center;
  background-size: cover;
  font-family: "Arial", sans-serif;
  color: #000;
  text-align: center;
}


.distance-display {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-basis: 136px;
  height: 22px;
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 18px;
  font-weight: bold;
  color: #000;
  padding: 5px 10px;
  border-radius: 5px;
  z-index: 10;

}


.icon-container {
  margin-right: 8px; /* Space between the icon and the text */
}

.distance-text {
  font-size: 16px; /* Adjust as needed */
}

h1 {
  font-size: 3rem;
  margin-bottom: 0.5rem;
}

p {
  font-size: 1.5rem;
  margin-bottom: 2rem;
}


.tit1 {
  margin-top: calc(10vh - 40px);
  line-height: 48px;
  font-size: 48px;
  width: calc(100vw - 32px);

}

.tit2 {
  margin-top: 10px;
  line-height: 24px;
  font-size: 24px;
  width: calc(100vw - 32px);
}

.tit1, .tit2 {
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}


.character-selection {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
}

.arrow {
  background: none;
  color: #000;
  font-size: 2rem;
  cursor: pointer;
  padding: 0.5rem 1rem;
  border-radius: 5px;
}

.arrow:hover {
  background: rgba(255, 255, 255, 0.2);
}

.surfer-avatar {
  width: 100px;
  height: 100px;
  margin: 0 1rem;
}

.start-txt {
  color:#000;
  font-size: 1.2rem;
  padding: 1rem 2rem;
  font-weight: 600;
  border-radius: 10px;
  cursor: default;
  display: inline-block;
  margin: 0 8px;
  vertical-align: middle;
  font-size: 20px;
}

.st-btn {
  border:2px solid #000;
  padding: 5px;
  font-weight:700;
  border-radius: 3px;

}
